<div>
    <div>
        <h2>Login</h2>
    </div>
    <form>
        <label for="username-input"></label>
        <input id="user-name-login" type="text" name="username-input" placeholder="username">

        <label for="password-input"></label>
        <input id="password-login" type="password" name="password-input" placeholder="password">

        <button type="submit" class="btn login-form">Login</button>
    </form>
        <a type="button" href="/signup">Sign up</a>

</div>

<script src="./js/login.js"></script>