<div>
    <div>
        <h2>Create New Post</h2>
    </div>
    <form>
        <label for="post-title"></label>
        <input type="text" name="post-title">

        <label for="post-content"></label>
        <input type="text" name="post-content">

        <button type="submit" class="btn">Submit</button>
    </form>

</div>

<script src="/js/new.js"></script>