<div>
    <div>
        <h2>Sign Up</h2>
    </div>
    <form>
        <label for="username-input-signup"></label>
        <input id="user-name-login" type="text" name="username-input-signup" placeholder="username">

        <label for="password-input-signup"></label>
        <input id="password-login" type="text" name="password-input-signup" placeholder="password">

        <button type="submit" class="btn signup-form">Sign up</button>
    </form>

</div>

<script src="./js/signup.js"></script>